@model IEnumerable<OnlineFoodStore.Models.Food>


   

<table class="table">

    @foreach (var food in Model)
    {
    <tr>
       
        <td>
            @food.Name
        </td>
        <td>
            @food.Price
        </td>

        

        <td>
            <a asp-action="Details" asp-controller="Food" asp-route-id="@food.Id" class="btn btn-dark">Details</a>
        </td>
    </tr>
    }

</table>